.htaccess
php53.cgi
include/ost-config.php
setup/cli/modules/importer
*.sw[a-z]
.DS_Store
.vagrant
._.DS_Store
Vagrantfile

# Staging directory used for packaging script
stage

# Ignore packaged plugins and language packs
*.phar

# Ignore mPDF temp files
include/mpdf/ttfontdata
include/mpdf/tmp
nbproject/
images/favicon.ico
images/Logo.gif
images/usek-ticket-logo.png
images/usek-favicon.png
images/usek-favicon-32x32.png
images/usek-favicon-16x16.png
css/fontawesome-free-5.15.4-web
